<h1>index</h1>

     
   <% @notess.each do |notes| %>
    <div>
     <h3>id</h3>
        <p><%= notes.id %></p>
     <h3>description</h3>
        <a href="/notes/show/<%= notes.id %>"><%= notes.unit %></a>
     <h3>item</h3>
        <p><%= notes.notes %></p>

    </div>
    <hr>
  <% end %>
 
  <div>
  <a href="/notes/new">ADD TO LIST</a>
  </div>